<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ greeting }}</h1>
    <h1>{{ title }}</h1>

    <div *ngFor="let c of getCategories()">
      <h2>{{ c }}</h2>
      <table>
        <tr>
          <th *ngFor="let p of itemParts">{{ p }}</th>
        </tr>
        <tr *ngFor="let i of getByCategory(c)">
          <td>{{ i.name }}</td>
          <td>{{ i.category }}</td>
          <td>${{ i.price }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
